- cache ['index', Nome.start_time.to_s] do
  header
    h1 
      strong Kristjan Rang
      |  is a developer for all things web.
  
  ul.skills
    li Full-stack web developer.
    li Part time devops and sysadmin.
    li App developer for Windows and OS X.
    li Cat poker.
    li Video game enthusiast.

  .contact
    h1 Contact

    .vcard
      h2
        a href="http://www.kristjanrang.eu/" class="url fn" Kristjan Rang        

      .adr
        div
          span.locality Tallinn
          | ,
          span.country-name Estonia
        div
          a href="mailto:mail@rang.ee" class="email" mail@rang.ee
          | ,
          span.tel+372 58 130653

      p
        a href="http://h2vx.com/vcf/www.kristjanrang.eu/" ↓ vCard

  ul.internet
    li
      a href="mailto:mail@rang.ee" title="Email"
        i.icon-mail
    li
      a href="https://github.com/krisrang" title="Github"
        i.icon-github
    li
      a href="http://www.last.fm/user/Noin" title="Last.fm"
        i.icon-lastfm
    li
      a href="https://steamcommunity.com/id/pebblesinspace" title="Steam"
        i.icon-steam
    li
      a href="http://www.goodreads.com/user/show/21059347-kristjan" title="Goodreads"
        i.icon-book

/! Git: #{Nome.git_version}
/! Start time: #{Nome.start_time}